#borderPane {
	-fx-background-color: #161921;

}


#scrollPaneFavourites .viewport,
#scrollPaneRandomThatYouMightLIke .viewport,
#scrollPaneLeastPopular .viewport,
#scrollPaneMostPopular .viewport
{
    -fx-background-color:  #161921;
}

#scrollPaneFavourites,
#scrollPaneRandomThatYouMightLIke,
#scrollPaneLeastPopular,
#scrollPaneMostPopular ,
#FavouritesVbox,
#RandomThatYouMightLIkeVbox,
#vboxLeastPopular,
#vboxMostPopular 
{
	-fx-background-color: #161921;

}


#FavouritesVbox:hover,
#RandomThatYouMightLIkeVbox:hover,
#vboxLeastPopular:hover,
#vboxMostPopular:hover{
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
}



.scroll-bar .track {
	-fx-background-color: transparent;
}

.scroll-bar {
	-fx-background-color: #161921;
	-fx-border-width: 2.0px;
	-fx-border-color: #242838;
	-fx-border-radius: 12.0px;
	-fx-background-radius: 15.0px;
	-fx-background-insets: 0.0px 0.0px 0.0px 0.0px;
}


.scroll-bar .thumb {
	-fx-background-color: transparent;
	-fx-background-insets: 0.0;
	-fx-padding: 0.0;
	-fx-border-width: 2.0px;
	-fx-border-color: #242838;
	-fx-border-radius: 12.0px;
	-fx-background-radius: 15.0px;
	-fx-background-insets: 0.0px 0.0px 0.0px 0.0px;
}

.label {
	-fx-font-weight: bold;
	-fx-text-fill: lightblue;
	-fx-font-family: serif;
	-fx-font-size: 30.0px;

}