#borderPane {
	-fx-background-color: #161921;

}


#scrollPaneFavourites,
#scrollPaneRandomThatYouMightLIke,
#FavouritesVbox,
#RandomThatYouMightLIkeVbox {
	-fx-background-color: #161921;

}



.scroll-bar .track {
	-fx-background-color: transparent;
}

.scroll-bar {
	-fx-background-color: #161921;
	-fx-border-width: 2px;
	-fx-border-color: #242838;
	-fx-border-radius: 12px;
	-fx-background-radius: 15px;
	-fx-background-insets: 0px 0px 0px 0px;
}


.scroll-bar .thumb {
	-fx-background-color: transparent;
	-fx-background-insets: 0.0;
	-fx-padding: 0.0;
	-fx-border-width: 2px;
	-fx-border-color: #242838;
	-fx-border-radius: 12px;
	-fx-background-radius: 15px;
	-fx-background-insets: 0px 0px 0px 0px;
}

.label {
	-fx-font-weight: bold;
	-fx-text-fill: lightblue;
	-fx-font-family: serif;
	-fx-font-size: 30px;

}