#titleBar{
		-fx-background-color:  #080A0C;
}


 .chart-plot-background {
	-fx-background-color: transparent;
}

.chart-title {
	-fx-text-fill: lightblue;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, gray, 2.0, 0.5, 0.0, 0.0);
	-fx-font-size: 40.0px;
}
.chart-series-line { 
    -fx-stroke: red;
}
.chart-legend {
	-fx-background-color: transparent;
}
.chart-area-symbol {
	-fx-shape: "M -6,-6 L 6,-6 6,6 -6,6 Z M -4,-4 L 4,-4 4,4 -4,4 Z";
	-fx-size: 10.0px;
	-fx-stroke: transparent;
}

.custom-button {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-padding: 10.0px 20.0px;
	
}
#mostPopularButton:hover{
	-fx-background-color: #28242c;
	-fx-cursor: hand;
}
#yourItemsButton:hover{
	-fx-background-color: #28242c;
	-fx-cursor: hand;
}
#mostPopularButton {
    -fx-background-color: transparent;
    -fx-content-display: bottom;
    -fx-graphic-text-gap: 0.0em; 
    -fx-text-alignment: center;
    -fx-font-size: 3.0em; 
    -fx-padding: 10.0 0.0 0.0 0.0; 
    -fx-font-weight: bold;
    -fx-text-fill: lightblue; 
    -fx-padding: 10.0 0.0 0.0 0.0; 
}

#adminTablesButton{
    -fx-background-color: transparent;
    -fx-content-display: bottom;
    -fx-graphic-text-gap: 0.0em; 
    -fx-text-alignment: center;
    -fx-font-size: 3.0em; 
    -fx-padding: 10.0 0.0 0.0 0.0; 
    -fx-font-weight: bold;
    -fx-text-fill: lightblue; 
    -fx-padding: 10.0 0.0 0.0 0.0; 
}

#yourItemsButton {
    -fx-background-color: transparent;
    -fx-content-display: bottom;
    -fx-graphic-text-gap: 0.0em; 
    -fx-text-alignment: center;
    -fx-font-size: 3.0em; 
    -fx-padding: 10.0 0.0 0.0 0.0; 
    -fx-font-weight: bold;
    -fx-text-fill: lightblue; 
    -fx-padding: 10.0 0.0 0.0 0.0; 
}

#adminTablesButton:hover {
	-fx-background-color: #28242c;
	-fx-text-fill: transparent;
	-fx-cursor: hand;
}

.custom-button:hover {
	-fx-background-color: #28242c;
	-fx-text-fill: transparent;
	-fx-cursor: hand;
}


#searchButton:hover {
	-fx-background-color: #28242c;
	-fx-cursor: hand;
}


#close,
#minimize,
#fullScreen{
	-fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 13px;
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}

#close:hover{
	-fx-background-color: red;
	-fx-cursor: hand;
	-fx-text-fill: black; 	
	-fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

#minimize:hover,
#fullScreen:hover{
	fx-background-color: #2c2e2f; 
    -fx-border-width: 2px;
    -fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
}
