#borderPane{
	-fx-background-color:  #161921;
	
}

#anchorPane {
	-fx-background-color:  #161921;
	-fx-border-width: 1.5px;
	-fx-border-color: #0d0f10;
}

.table-view {
	-fx-background-color: #161921;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-table-cell-border-color: #1a1c1d;
}

.table-view .column-header {
	-fx-padding: 0;
}

.table-row-cell,
.table-cell {
	-fx-border-width: 0.2px;
	-fx-border-color: #1a1c1d;
}

.table-view .column-header>.label {
	-fx-background-color: rgb(16, 18, 24);
	-fx-text-fill: lightblue;
	-fx-font-weight: bold;
	-fx-border-width: 0.5px;
	-fx-font-family: serif;
	-fx-font-size: 20px;

}


.table-view .table-row-cell:selected {
	-fx-background-color: rgb(83, 86, 87);

}

.table-view .table-row-cell {
	-fx-background-color: rgb(38, 43, 55);
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-font-family: serif;

}
.table-view .table-row-cell {
	-fx-border-color: #aca59a;
	-fx-border-width: 0px;
}

.table-view .table-cell {
    -fx-border-width: 0.2px;
    -fx-border-color: #1a1c1d;
    -fx-text-fill: rgb(215, 231, 234);
   	-fx-font-weight: bold;
    -fx-font-family: serif;
    -fx-padding: 0 0 0 5px;

}


.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}


.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}


.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


.table-view .scroll-bar .track {
    -fx-background-color: transparent;
}


.table-view .scroll-bar .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .table-cell .table-cell .text {
    -fx-fill: rgb(215, 231, 234);
}



#name,
#brand,
#description,
#currencyUsed,
#pricedBy,
#labelEdit{
	-fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-font-family: serif;
    -fx-font-size: 17px;
}

#addPrice{
	 -fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #242838;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}

#isStarredButton{
		 -fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #242838;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
    
}
.button:hover {
    -fx-background-color: #2c2e2f; 
    -fx-border-width: 2px;
    -fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    
}


#editButton,
#deleteProductButotn,
#requestWhitelistButton,
#acceptWhitelistButton,
#removeWhitelistButton{
	-fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #242838;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}

#close{
	-fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #242838;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}


.chart-area-symbol { 
	-fx-shape: "";
	-fx-background-color: transparent;
}

.chart-title {
	-fx-text-fill: lightblue;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, gray, 2.0, 0.5, 0.0, 0.0);
	-fx-font-size: 20.0px;
}

/* CSS to change the color of text in an AreaChart to lightblue */
.chart-area .chart-plot-background {
    -fx-background-color: lightblue;
}

.chart-area .axis {
    -fx-tick-label-fill: lightblue;
    -fx-text-fill: lightblue;
}

.chart-area .axis:label {
    -fx-text-fill: lightblue;
}


/* CSS to change the color of text in a PieChart to lightblue */
.chart-pie-label {
    -fx-fill: lightblue;
    -fx-font-weight: bold;
    
}




