#borderPane {
	-fx-background-color: #161921;

}

#titleBar{
			-fx-background-color:  #080A0C;	
}

#searchKeyword {
	-fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-color: #aca59a;
    -fx-border-width: 1px; 
    -fx-border-radius:12px;

}

#anchorPane {
	-fx-background-color:  #161921;
		-fx-border-width: 1.5px;
	-fx-border-color: #0d0f10;
}
.table-view {
	-fx-background-color: #161921;
	-fx-border-color: black;
	-fx-border-width: 1.0px;
	-fx-table-cell-border-color: #1a1c1d;
}

.table-view .column-header {
	-fx-padding: 0.0;
}


.table-row-cell,
.table-cell {
	-fx-border-width: 0.2px;
	-fx-border-color: #1a1c1d;
}

.table-view .column-header>.label {
	-fx-background-color: rgb(16.0, 18.0, 24.0);
	-fx-text-fill: lightblue;
	-fx-font-weight: bold;
	-fx-border-width: 0.5px;
	-fx-font-family: serif;
	-fx-font-size: 18.0px;

}


.table-view .table-row-cell:selected {
	-fx-background-color: rgb(83.0, 86.0, 87.0);

}

.table-view .table-row-cell {
	-fx-background-color: rgb(38.0, 43.0, 55.0);
	-fx-font-weight: bold;
	-fx-font-size: 15.0px;
	-fx-font-family: serif;

}
.table-view .table-row-cell {
	-fx-border-color: #aca59a;
	-fx-border-width: 0.0px;
}

.table-view .table-cell {
    -fx-border-width: 0.2px;
    -fx-border-color: #1a1c1d;
    -fx-text-fill: rgb(215.0, 231.0, 234.0);
   	-fx-font-weight: bold;
    -fx-font-family: serif;
    -fx-padding: 0.0 0.0 0.0 5.0px;

}


.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}


.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}


.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}


.table-view .scroll-bar .track {
    -fx-background-color: transparent;
}


.table-view .scroll-bar .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.table-view .table-cell .table-cell .text {
    -fx-fill: rgb(215.0, 231.0, 234.0);
}

#labelEdit
{
	-fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-font-family: serif;
    -fx-font-size: 17.0px;
}

#labelSearch{
	-fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-font-family: serif;
    -fx-font-size: 18;
}


#close{
				 -fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #242838;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}

.button:hover {
    -fx-background-color: #2c2e2f; 
    -fx-border-width: 2px;
    -fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    
}

.choice-box {
    -fx-background-color: #1a1c1d; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
    
}


.choice-box .label {
    -fx-text-fill: #ffffff;
    -fx-font-family: serif;
    -fx-font-size: 14px; 
}


.choice-box .arrow {
    -fx-background-color: #aca59a;
}


.choice-box .menu-item {
    -fx-background-color: #1a1c1d;
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
}

.choice-box .menu-item:hover {
    -fx-background-color: #2c2e2f; 
    -fx-cursor: hand;

}
