#borderPane{
	-fx-background-color:  #161921;
	
}
#anchorPane {
	-fx-background-color:  #161921;
		-fx-border-width: 1.5px;
	-fx-border-color: #0d0f10;
}

.button {
    -fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}

.button:hover {
    -fx-background-color: #2c2e2f; 
    -fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    
}



.image-view {
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #333333; 
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-font-family: serif;
    -fx-font-size: 17px;
}
.grid-pane {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 1; 
    -fx-border-insets: 0 1 1 0; 
}



.choice-box {
    -fx-background-color: #1a1c1d; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
    
}


.choice-box .label {
    -fx-text-fill: #ffffff;
    -fx-font-family: serif;
    -fx-font-size: 14px; 
}


.choice-box .arrow {
    -fx-background-color: #aca59a;
}


.choice-box .menu-item {
    -fx-background-color: #1a1c1d;
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
}

.choice-box .menu-item:hover {
    -fx-background-color: #2c2e2f; 
   	-fx-cursor: hand;
    
}

.text-field {
    -fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-color: #aca59a;
    -fx-border-width: 1px; 
    -fx-border-radius:12px;
}

.text-field:focused {
    -fx-border-color: lightblue; 
}


.text-area {
	-fx-control-inner-background: #161921;
    -fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-color: #aca59a;
    -fx-border-width: 1px; 
    -fx-border-radius:12px;
    -fx-inner-border-color: #aca59a;
    -fx-inner-border-width: 1px; 
    -fx-inner-border-radius:12px;
}




