.date-picker {
    -fx-background-color: #aca59a; 
    -fx-text-fill: #aca59a; 
    -fx-font-size: 14px; 
    -fx-border-color: #aca59a; 
    -fx-border-width: 0px; 
    -fx-border-radius: 5px; 
    -fx-font-family: serif; 

}
#anchorPane {
	-fx-background-color:  #161921;
		-fx-border-width: 1.5px;
	-fx-border-color: #0d0f10;
}
.date-picker .text-field {
    -fx-background-color: #161921; 
}

.date-picker .arrow-button {
    -fx-background-color: lightblue; 
}

.date-picker-popup {
    -fx-background-color: white; 
}

.date-picker-popup .day-cell {
    -fx-background-color: rgb(126, 118, 105); 
    -fx-text-fill: lightblue; 
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #2a2c2d;
    -fx-cursor: hand;
 
}


.date-picker .month-year-pane {
    -fx-text-fill: black;
    -fx-font-family: serif; 
    -fx-font-weight: bold; 
}


.text-field {
    -fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
}


#priceField{
	-fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-color: #aca59a;
    -fx-border-width: 1px; 
    -fx-border-radius:12px;
	
}

#label,
#label2,
#label3{	
	-fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-font-family: serif;
    -fx-font-size: 17px;
}

.choice-box {
    -fx-background-color: #1a1c1d; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
    
}


.choice-box .label {
    -fx-text-fill: #ffffff;
    -fx-font-family: serif;
    -fx-font-size: 14px; 
}


.choice-box .arrow {
    -fx-background-color: #aca59a;
}


.choice-box .menu-item {
    -fx-background-color: #1a1c1d;
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
}

.choice-box .menu-item:hover {
    -fx-background-color: #2c2e2f; 
    -fx-cursor: hand;

}

#insertButton,
#closeButton{
	-fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}
.button:hover {
    -fx-background-color: #2c2e2f; 
    -fx-border-width: 2px;
    -fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    
}


