.date-picker {
    -fx-background-color: #aca59a; /* Set background color */
    -fx-text-fill: #aca59a; /* Set text color */
    -fx-font-size: 14px; /* Set font size */
    -fx-border-color: #aca59a; /* Set border color */
    -fx-border-width: 0px; /* Set border width */
    -fx-border-radius: 5px; /* Set border radius */
    -fx-font-family: serif; 

}

.date-picker .text-field {
    -fx-background-color: #161921; /* Set background color for the text field */
}

.date-picker .arrow-button {
    -fx-background-color: lightblue; /* Set background color for the arrow button */
}

.date-picker-popup {
    -fx-background-color: white; /* Set background color for the popup */
}

.date-picker-popup .day-cell {
    -fx-background-color: rgb(126, 118, 105); /* Set background color for the days */
    -fx-text-fill: lightblue; /* Set text color for the days */
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #2a2c2d; /* Set background color for the hovered days */
}


.date-picker .month-year-pane {
    -fx-text-fill: black;
    -fx-font-family: serif; 
    -fx-font-weight: bold; /* Set font weight to bold */
}


.text-field {
    -fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
}


#priceField{
	-fx-background-color: transparent; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-color: #aca59a;
    -fx-border-width: 1px; 
    -fx-border-radius:12px;
	
}

#label,
#label2,
#label3{	
	-fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-font-family: serif;
    -fx-font-size: 17px;
}

.choice-box {
    -fx-background-color: #1a1c1d; 
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
    
}


.choice-box .label {
    -fx-text-fill: #ffffff;
    -fx-font-family: serif;
    -fx-font-size: 14px; 
}


.choice-box .arrow {
    -fx-background-color: #aca59a;
}


.choice-box .menu-item {
    -fx-background-color: #1a1c1d;
    -fx-text-fill: #ffffff; 
    -fx-font-family: serif; 
    -fx-font-size: 14px; 
}

.choice-box .menu-item:hover {
    -fx-background-color: #2c2e2f; 
}

#insertButton,
#closeButton{
	-fx-background-color: #1a1c1d;
    -fx-font-weight: bold;
    -fx-text-fill: #aca59a; 
    -fx-font-family: serif;
    -fx-font-size: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #0d0f10;
    -fx-border-radius:12px;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px 0px 0px 0px;
}
.button:hover {
    -fx-background-color: #2c2e2f; 
    -fx-border-color: #171a1b; 
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
     -fx-border-width: 2px;
}


